

body {
    background-color: black; /* Hintergrundfarbe der gesamten Website */
    color: white; /* Textfarbe für bessere Lesbarkeit */
    margin: 0;
}

.header {
    background-color: transparent;
    padding: 0%;
    text-align: center;
    position: absolute;
    top: 0%;
    width: 100%;
    z-index: 1000;
}

.header {
    margin: 0;
    font-family: 'Bungee', sans-serif;   
    text-align: center;
    padding-top: 2%;
}



.burger-menu {
    position: absolute;
    right: 8%;
    /* Ändere diesen Wert nach Bedarf */
    /* Ändere diesen Wert nach Bedarf und passe ihn an die Höhe deines Headers an */
    top: 18px;
    cursor: pointer;
    font-size: 10vw;
    color: white;
}

.mobile-menu {
    display: none;
    left: 50%;
    /* Positioniere das Menü relativ zum nächsten positionierten (nicht statischen) Elternelement */
    text-decoration: none;
    top: 100%;
    /* Positioniere das Menü unter dem Burger-Menü */
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    /* Leicht transparenter Hintergrund */
    padding: 60px;
    /* Verringere den äußeren Abstand des Menüs */

}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1;
    text-align: center;
}

.mobile-menu a {
    display: block;
    padding: 2%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 5vw;
    cursor: pointer;
    text-align: center;
    /* Zentriere den Text innerhalb des Links */
    box-sizing: border-box;
    /* Behalte das Box-Modell bei, um Padding in die Breite/Höhe einzubeziehen */

}

.mobile-menu li {
    margin-bottom: 10vh;
    /* Reduziere den Abstand zwischen den Listenelementen */

}


.text {
    width: 80%; /* Du kannst die Breite nach Bedarf anpassen */
    margin: 0 auto; /* Zentriert das Blockelement horizontal */
    text-align: left; /* Links ausrichten */
    margin-top: 10%;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.text .ueberschrift {
    text-align: center;
    font-family: 'Bungee', sans-serif;
}

.header h1 a {
    text-decoration: none; /* Entferne die Standard-Unterstreichung von Links */
    color: rgb(255, 255, 255); /* Ändere die Farbe des Links nach Bedarf */
    font-size: 7vw;
}

h3 {
    font-family: 'Roboto', sans-serif;
}